Travel Planner AI Agent.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: advanced-chat
  name: Travel Planner AI Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.0@beafb5a726eda839a1839f61a0456ae7e068c98624c53f59b07be9a71fbf72da
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables:
  - description: List of activities the user wants to do
    id: 953638c2-2aa3-44a8-a49c-12330305de24
    name: activities
    selector:
    - conversation
    - activities
    value: []
    value_type: array[string]
  - description: he city or place the user wants to visit
    id: 8a13ea62-9f98-4d3c-8ffd-304fb655ac72
    name: location
    selector:
    - conversation
    - location
    value: ''
    value_type: string
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: parameter-extractor
      id: 1778493657711-source-1778493775937-target
      selected: false
      source: '1778493657711'
      sourceHandle: source
      target: '1778493775937'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1778493775937-source-1778494679048-target
      selected: false
      source: '1778493775937'
      sourceHandle: source
      target: '1778494679048'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: parameter-extractor
        targetType: if-else
      id: 1778493775937-source-1778495349001-target
      selected: false
      source: '1778493775937'
      sourceHandle: source
      target: '1778495349001'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778494679048-false-1778495455479-target
      selected: false
      source: '1778494679048'
      sourceHandle: 'false'
      target: '1778495455479'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778495349001-false-1778495451736-target
      selected: false
      source: '1778495349001'
      sourceHandle: 'false'
      target: '1778495451736'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1778494679048-true-1778496014538-target
      source: '1778494679048'
      sourceHandle: 'true'
      target: '1778496014538'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: assigner
      id: 1778495349001-true-1778496134697-target
      source: '1778495349001'
      sourceHandle: 'true'
      target: '1778496134697'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1778496014538-source-1778496381272-target
      source: '1778496014538'
      sourceHandle: source
      target: '1778496381272'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: assigner
        targetType: if-else
      id: 1778496134697-source-1778496381272-target
      source: '1778496134697'
      sourceHandle: source
      target: '1778496381272'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: answer
      id: 1778496381272-true-1778496460008-target
      source: '1778496381272'
      sourceHandle: 'true'
      target: '1778496460008'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: if-else
        targetType: code
      id: 1778496381272-false-1778496504058-target
      source: '1778496381272'
      sourceHandle: 'false'
      target: '1778496504058'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: code
        targetType: llm
      id: 1778496504058-source-1778496915046-target
      source: '1778496504058'
      sourceHandle: source
      target: '1778496915046'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: 1778496915046-source-1778497018152-target
      source: '1778496915046'
      sourceHandle: source
      target: '1778497018152'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables: []
      height: 73
      id: '1778493657711'
      position:
        x: -171.80822505216486
        y: 266.79899033818674
      positionAbsolute:
        x: -171.80822505216486
        y: 266.79899033818674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        instruction: '"The city or place the user wants to visit"'
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: langgenius/openai/openai
        parameters:
        - description: The city, town, or place the user wants to visit
          name: location
          required: true
          type: string
        - description: A list of activities or things the user wants to do, such as
            hiking, food, beaches, museums
          name: activities
          required: true
          type: array[string]
        query:
        - sys
        - query
        reasoning_mode: prompt
        selected: false
        title: Parameter Extractor 2
        type: parameter-extractor
        vision:
          enabled: false
      height: 88
      id: '1778493775937'
      position:
        x: 209.84566977219407
        y: 287.79899033818674
      positionAbsolute:
        x: 209.84566977219407
        y: 287.79899033818674
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 7a14032e-51d6-416d-8e01-b786ad4ef47c
            value: ''
            varType: string
            variable_selector:
            - '1778493775937'
            - location
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 140
      id: '1778494679048'
      position:
        x: 645.8671337276679
        y: 53.453678726680806
      positionAbsolute:
        x: 645.8671337276679
        y: 53.453678726680806
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: not empty
            id: 1860ae1c-a80e-4062-87b1-3f7538f26f5b
            value: ''
            varType: array[string]
            variable_selector:
            - '1778493775937'
            - activities
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 2
        type: if-else
      height: 140
      id: '1778495349001'
      position:
        x: 645.8671337276679
        y: 462.0811626283246
      positionAbsolute:
        x: 645.8671337276679
        y: 462.0811626283246
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: What activities do you enjoy?
        selected: false
        title: Answer
        type: answer
        variables: []
      height: 100
      id: '1778495451736'
      position:
        x: 1058.1101577773975
        y: 662.5978906594228
      positionAbsolute:
        x: 1058.1101577773975
        y: 662.5978906594228
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: "Where are you traveling? &   \n"
        selected: true
        title: Answer 2
        type: answer
        variables: []
      height: 100
      id: '1778495455479'
      position:
        x: 1058.1101577773975
        y: 233.76194492461673
      positionAbsolute:
        x: 1058.1101577773975
        y: 233.76194492461673
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: he city or place the user wants to visit
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1778493775937'
          - location
          variable_selector:
          - conversation
          - location
          write_mode: over-write
        selected: false
        title: Variable Assigner
        type: assigner
        version: '2'
      height: 112
      id: '1778496014538'
      position:
        x: 1058.1101577773975
        y: 59.98594758697871
      positionAbsolute:
        x: 1058.1101577773975
        y: 59.98594758697871
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: List of activities the user wants to do
        items:
        - input_type: variable
          operation: over-write
          value:
          - '1778493775937'
          - activities
          variable_selector:
          - conversation
          - activities
          write_mode: over-write
        selected: false
        title: Variable Assigner 2
        type: assigner
        version: '2'
      height: 112
      id: '1778496134697'
      position:
        x: 1058.1101577773975
        y: 473.97400619216035
      positionAbsolute:
        x: 1058.1101577773975
        y: 473.97400619216035
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: empty
            id: 12798f83-ea21-4a96-8f4e-9b365c7f2a65
            value: ''
            varType: string
            variable_selector:
            - conversation
            - location
          - comparison_operator: empty
            id: f13d4820-c554-4ef8-92ac-b36545cdf84e
            value: ''
            varType: array[string]
            variable_selector:
            - '1778493775937'
            - activities
          id: 'true'
          logical_operator: and
        selected: false
        title: IF/ELSE 3
        type: if-else
      height: 150
      id: '1778496381272'
      position:
        x: 1438.1616025756696
        y: 262.60056973479954
      positionAbsolute:
        x: 1438.1616025756696
        y: 262.60056973479954
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: Please provide missing info
        selected: false
        title: Answer 3
        type: answer
        variables: []
      height: 100
      id: '1778496460008'
      position:
        x: 1821.3784334366303
        y: 161.14260245911575
      positionAbsolute:
        x: 1821.3784334366303
        y: 161.14260245911575
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        code: "import requests\n\ndef main(location: str) -> dict:\n    api_key =\
          \ \"YOUR_API_KEY\"\n    url = f\"http://api.openweathermap.org/data/2.5/weather?q={location}&appid={api_key}&units=metric\"\
          \n    \n    try:\n        response = requests.get(url)\n        data = response.json()\n\
          \        \n        if data.get(\"cod\") != 200:\n            return {\"\
          weather\": \"Weather data unavailable for this location\"}\n        \n \
          \       description = data['weather'][0]['description']\n        temp =\
          \ data['main']['temp']\n        feels_like = data['main']['feels_like']\n\
          \        weather = f\"{description}, {temp}°C (feels like {feels_like}°C)\"\
          \n        return {\"weather\": weather}\n    \n    except Exception as e:\n\
          \        return {\"weather\": \"Could not fetch weather data\"}"
        code_language: python3
        outputs:
          weather:
            children: null
            type: string
        retry_config:
          max_retries: 3
          retry_enabled: false
          retry_interval: 1000
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1778493775937'
          - location
          value_type: string
          variable: location
      height: 52
      id: '1778496504058'
      position:
        x: 1821.3784334366303
        y: 481.3012794378276
      positionAbsolute:
        x: 1821.3784334366303
        y: 481.3012794378276
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        memory:
          query_prompt_template: '{{#sys.query#}}


            {{#sys.files#}}'
          role_prefix:
            assistant: ''
            user: ''
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gpt-4.1
          provider: langgenius/openai/openai
        prompt_template:
        - id: 6abcb78d-a9e0-49da-a304-775d50136af2
          role: system
          text: 'You are a friendly travel planning assistant.

            The user is visiting {{location}}.

            They want to do: {{activities}}.

            Current weather: {{weather}}.


            Plan a detailed, fun single day itinerary with:

            - Morning, afternoon, and evening activities

            - Meal recommendations

            - Travel tips for that location

            - Adjust all plans based on the current weather conditions.'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 1000
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 118
      id: '1778496915046'
      position:
        x: 2136.1073601092316
        y: 311.6436410191055
      positionAbsolute:
        x: 2136.1073601092316
        y: 311.6436410191055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        answer: '{{#1778496915046.text#}}'
        selected: false
        title: Answer 4
        type: answer
        variables: []
      height: 103
      id: '1778497018152'
      position:
        x: 2549.3380853927583
        y: 311.6436410191055
      positionAbsolute:
        x: 2549.3380853927583
        y: 311.6436410191055
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 205.58440405992923
      y: 155.5381326295373
      zoom: 0.5743492260557886
  rag_pipeline_variables: []
